{% load static %}

<div class="header-container">
    <div class="logo">
        <a href="{% url 'shopGoods:index' %}">
            <img src="{% static 'shopGoods/img/logo.png' %}" alt="Magic Tricks Shop Logo">
        </a>
        <span class="shop-name">Magic Tricks Shop</span>
    </div>
    <div class="header-icons">
        <a href="{% url 'shopUsers:cart' %}">
            <img src="{% static 'shopGoods/img/cart-icon1.png' %}" alt="Корзина">
        </a>
        {% if request.session.user_id %}
            <a href="{% url 'shopUsers:cabinet' %}">
                <img src="{% static 'shopGoods/img/user-icon1.png' %}" alt="Личный кабинет">
            </a>
        {% else %}
            <a href="{% url 'shopUsers:register' %}">
                <img src="{% static 'shopGoods/img/user-icon1.png' %}" alt="Войти">
            </a>
        {% endif %}
    </div>
</div>
