{% extends 'shopGoods/layout.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header">
            <h2 class="mb-0">Добро пожаловать в {{ caption }}!</h2>
        </div>
        <div class="card-body">
            <p class="lead">Погрузитесь в захватывающий мир иллюзий и волшебства вместе с нами!
                {{ caption }} — это ваше уникальное пространство, где каждый,
                от начинающего до профессионального иллюзиониста, найдет всё необходимое
                для создания незабываемых магических шоу.</p>
            <p class="lead">Следите за нашими обновлениями, акциями и специальными предложениями.
                Подписывайтесь на нашу рассылку и соцсети, чтобы всегда быть в курсе новинок
                и событий мира магии.</p>
            <p class="lead">{{ caption }} — откройте для себя мир волшебства уже сегодня!</p>
        </div>
    </div>
</div>

{% endblock %}