{% extends 'shopGoods/layout.html' %}

{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
            <img src="{% static 'shopGoods/img/logo.png' %}" alt="Изображение отсутствует">
        {% endif %}
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <h3>{{ product.price }} руб.</h3>

        <!-- Отображение рейтинга -->
        <div class="rating">
            {% if average_rating %}
                {% for i in "12345" %}
                    <span class="{% if forloop.counter <= average_rating %}text-warning{% else %}text-muted{% endif %}">&#9733;</span>
                {% endfor %}
                {% if last_digit == "1" and last_two_digits != "11" %}
                    ({{ reviews.count }} отзыв)
                {% elif last_digit in "234" and last_two_digits not in "12, 13, 14" %}
                    ({{ reviews.count }} отзыва)
                {% else %}
                    ({{ reviews.count }} отзывов)
                {% endif %}
            {% else %}
                Нет отзывов
            {% endif %}
        </div>

        <!-- Кнопка добавления в корзину -->
        <form action="{% url 'shopGoods:add_to_cart' %}" method="post">
            {% csrf_token %}
            <button type="submit" name="product_id" value="{{ product.id }}">
                {% if product.id in user_ordered_products %}
                    Заказать снова
                {% else %}
                    Заказать
                {% endif %}
            </button>
        </form>

        <!-- Сообщение об успешном добавлении в корзину -->
        {% if added_to_cart %}
            <div class="alert alert-success">
                Товар добавлен в корзину!
            </div>
        {% endif %}

        <!-- Кнопка оставить отзыв -->
        {% if product.id in user_ordered_products %}
            <a href="{% url 'shopGoods:review' product.id %}" class="btn btn-primary">Оставить отзыв</a>
        {% endif %}

        <!-- Отображение отзывов -->
        <div class="reviews">
            <h3>Отзывы:</h3>
            {% if reviews %}
                {% for review in reviews %}
                    <div class="review">
                        <p>{{ review.user }}:</p>
                        <div class="stars">
                            {% for i in "12345" %}
                                <span class="{% if forloop.counter <= review.rating %}text-warning{% else %}text-muted{% endif %}">&#9733;</span>
                            {% endfor %}
                        </div>
                        <p>{{ review.text }}</p>
                        <p>{{ review.review_date }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>Нет отзывов</p>
            {% endif %}
        </div>
    </div>
{% endblock %}