{% extends 'shopGoods/layout.html' %}

{% block title %}

    Авторизация

{% endblock %}

{% block content %}

    <div class="main-info container mt-5">

        <h2 class="mb-4">Авторизация магического адепта</h2>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Имя</label>
                <input type="text" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="phone">Телефон</label>
                <input type="text" name="phone" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Вернуться в магию</button>
            <a href="{% url 'shopUsers:register' %}" class="btn btn-secondary">Еще нет аккаунта?</a>
        </form>

        {% if messages %}
            {% for message in messages %}
                <div class="text-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}
